* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  color: white;
}

.app {
  padding: 30px;
  text-align: center;
}

.filters {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-bottom: 30px;
}

.filters input,
.filters select {
  padding: 10px;
  border-radius: 6px;
  border: none;
  outline: none;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 25px;
}

.movie-card {
  background: #1e293b;
  padding: 15px;
  border-radius: 12px;
  transition: 0.3s;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 8px;
}

.movie-card h3 {
  margin: 10px 0 5px;
}
