body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg,#667eea,#764ba2);
  font-family: Arial;
}

.box {
  background: #fff;
  padding: 30px;
  width: 320px;
  border-radius: 6px;
  box-shadow: 0 15px 25px rgba(0,0,0,.3);
  text-align: center;
}

.box input {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.box button {
  width: 100%;
  padding: 10px;
  background: #667eea;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
span{
  color:black;
}
#toggle {
  margin-top: 12px;
  color: #667eea;
  cursor: pointer;
}